<%= @flashcard.character %>
<%= @flashcard.pinyin %>
<%= @flashcard.english_translation %>

<% if @next_flashcard.nil? %>
  <%= link_to '<button type="button">Next</button>'.html_safe, root_path %>
<% else %>
  <%= link_to '<button type="button">Next</button>'.html_safe, flashcard_set_flashcard_path(@set, @next_flashcard) %>
<% end %>
