<div class="flashcard">
  <% if @next_flashcard.nil? %>
    <button>
      <%= link_to "Next", root_path %>
    </button>
  <% else %>
    <%= link_to flashcard_set_flashcard_path(@set, @next_flashcard) do  %>
      <div id="character">
        <%= @flashcard.character %>
      </div>
      <div id="pinyin">
        <%= @flashcard.pinyin %>
      </div>
      <div id="english-translation">
        <%= @flashcard.english_translation %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="back-to-flashcard-sets">
  <%= link_to "Back to sets", flashcard_sets_path %>
</div>
