<div class="homepage">
  <h1>欢迎来汉字</h1>
  <h2>Welcome to Hanzi</h2>
  <div class="wrap">
    <div id="left_col">
      <h3>About Hanzi</h3>
      <br>
        <p>Hanzi is a browser-based educational tool to learn Chinese characters.</p>
    </div>
    <div id="right_col">
      <h3>关于汉字</h3>
      <br>
        <p>汉字是一个以浏览器为媒介学习汉字的工具.</p>
    </div>
  </div>

  <div class="button">
    <% if user_signed_in? %>
      <%= link_to '<button type="button">Select a Flashcard Set</button>'.html_safe, flashcard_sets_path %>
      <%= link_to '<button type="button">Sign out</button>'.html_safe, destroy_user_session_path %>
    <% else %>
      <%= link_to '<button type="button">Sign up</button>'.html_safe, new_user_registration_path %>
      <%= link_to '<button type="button">Sign in</button>'.html_safe, new_user_session_path %>
      <%= link_to '<button type="button">Sample flashcard</button>'.html_safe, root_path(:anchor => 'sample_flashcard') %>

      <div id="sample_flashcard">
        <div id="character">
          <%= link_to "学习", "#character_explanation", class: "character_link", title: "These are characters.", "data-content" => "Chraracters are logograms used in the writing of Chinese. Here, the characters '学' ('to study/learn') and '习' ('to practice') are combined to form '学习'.", rel: "popover" %>
        </div>
        <div id="pinyin">
          <%= link_to "xue2 xi2", "#character_explanation", class: "pinyin_link", title: "This is the pinyin.","data-content" => "Pinyin refers to the romanized spelling of Chinese characters. The numbers at the end of 'xue' and 'xi' indicate the tone.", rel: "popover" %>
        </div>
        <div id="english-translation">
          <%= link_to "to learn; to study", "#english_translation", class: "english_translation_link", title: "This is the English translation", "data-content" => "This is the English translation of the characters above.", rel: "popover" %>
        </div>
        <div id="link_to_top">
          <%= link_to "Back to top", "#" %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {

    $('a.character_link').popover();
    $('a.pinyin_link').popover();
    $('a.english_translation_link').popover();
  });
</script>
